@model Dictionary<string, EducationSearching.ClassContent.API_DB.fileLoad>

<h2>Скачать файлы</h2>

<button onclick="location.href='@Url.Action("UploadFile", "UploadF")'" type="button" class="btn btn-success">Загрузить файлы</button>
<table class="table table-hover table-striped">
     <tr>
         <th style="width:150px"> Кто загрузил </th>
         <th style="width:150px"> Дата </th>
         <th> Программа </th>
         <th> Скан </th>
         <th> Документы </th>
     </tr>
         
     @foreach (var key in Model.Keys)
     {
        <tr>
            <td style="width:150px"> @Model[key].whoUser </td>
            <td style="width:150px"> @Model[key].data </td>
            <td>@if (@Model[key].programId != 0)
                { 
                    @Html.ActionLink(@Model[key].program, "DownloadFile", new { Id = @Model[key].programId }, new { title = @Model[key].aboutprogram })
                }
            </td> 
            <td> @if (@Model[key].scanId != 0)
                 {
                     @Html.ActionLink(@Model[key].scan, "DownloadFile", new { Id = @Model[key].scanId }, new { title = @Model[key].aboutscan })
                 }
            </td> 
            <td> @if (@Model[key].docsId != 0)
                 {
                     @Html.ActionLink(@Model[key].docs, "DownloadFile", new { Id = @Model[key].docsId }, new { title = @Model[key].aboutdocs })
                 }
            </td> 
            <td> 
                <button onclick="location.href='@Url.Action("DeleteFiles", "UploadF", new { id=@Model[key].Id })'" type="button" class="btn btn-danger btn-block btn-small">Удалить</button>
            </td> 
        </tr>
     }
 </table>
