@model Dictionary<string, EducationSearching.ClassContent.API_DB.fileLoad>

<h2>Скачать файлы</h2>

 <table> 
     <tr>
         <th> Id </th>
         <th> Кто загрузил </th>
         <th> Дата </th>
         <th> Программа </th>
         <th> Скан </th>
         <th> Документы </th>
     </tr>
         
     @foreach (var key in Model.Keys)
     {
        <tr>
            <td> @key </td>
            <td> @Model[key].whoUser </td>
            <td> @Model[key].data </td>
            <td> @Html.ActionLink(@Model[key].program, "DownloadFile", new { Id = @Model[key].programId }, new { title = @Model[key].aboutprogram })</td> 
            <td> @Html.ActionLink(@Model[key].scan, "DownloadFile", new { Id = @Model[key].scanId }, new { title = @Model[key].aboutscan }) </td> 
            <td> @Html.ActionLink(@Model[key].docs, "DownloadFile", new { Id = @Model[key].docsId }, new { title = @Model[key].aboutdocs })</td> 
            <td> @Html.ActionLink("Удалить", "DeleteFiles", new { Id = @key }) </td> 
        </tr>
     }
 </table>
