@model PagedList.IPagedList<EducationSearching.PredmetForUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Страница предметов у пользователя.";
}

    <p>Уважаемый(ая), @ViewBag.UserFIO, вы зашли с правами @ViewBag.UserRole'а.</p>

    @using (Html.BeginForm("Index", "Main", FormMethod.Get))
    {
        <p><select name="spisokYear">
    <option disabled selected>Выберите год:</option>
        @for (int i = 2013; i < 2015; i++)
        {
            <option value=@i>@i.ToString()</option>
        }
    </select>

    <select name="spisokSemestr">
        <option disabled selected>Выберите семестр:</option>
        <option value="1 семестр">1 семестр</option>
        <option value="2 семестр">2 семестр</option>
    </select>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       <button type="submit" value="Search" class="btn btn-inverse">Открыть период</button></p>
    }

@if (Model != null || Model.Count != 0 || @Model.PageCount != 0)
{
    <table class="table table-hover table-striped">
        <tr>  
            <th style="width:90px">Ф. И. О.:</th> 
            <th style="width:150px">Дисциплина</th> 
            <th style="width:90px">Поток</th> 
        </tr> 
 
    @foreach (var item in Model) { 
        <tr>
            <td style="width:90px"> 
                @Html.DisplayFor(modelItem => item.FIOShort) 
            </td> 
            <td style="width:150px"> 
                @Html.DisplayFor(modelItem => item.predmetName) 
            </td> 
            <td style="width:90px"> 
                @Html.DisplayFor(modelItem => item.potok) 
            </td> 
        
            <td class="divider" style="width:90px"> 
                <button onclick="location.href='@Url.Action("Review", "Main", new { id=item.Id })'" type="button" class="btn btn-primary btn-block btn-small">Подробнее</button>
                @if (string.Equals(@ViewBag.UserRole = "Administrator", "Administrator"))
                {
                    <button onclick="location.href='@Url.Action("EditRecord", "Main", new { id=item.Id })'" type="button" class="btn btn-info btn-block btn-small">Редактировать</button>
           
                    <button onclick="location.href='@Url.Action("FileReview", "Main", new { id=item.Id })'" type="button" class="btn btn-warning btn-block btn-small">Файлы</button>
           
                    <button onclick="location.href='@Url.Action("Remove", "Main", new { id=item.Id })'" type="button" class="btn btn-danger btn-block btn-small">Удалить</button>
                }
            </td> 
        </tr> 
    } 
 
    </table>
 }   
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))





