@model EducationSearching.PredmetForUser

@{
    ViewBag.Title = "Просмотр подробной информацим.";
}

<p class="error">@ViewBag.ConcurrencyErrorMessage</p>



<div class="form-horizontal">
    <h4>Подробная информация:</h4>
    <hr />
        
    <div class="form-group">
        <b>Дисциплина:</b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.predmetName)
        </div>
    </div>
    <br />

    <div class="form-group">
        <b>Поток: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.potok)
        </div>
    </div>
    <br />

    <div class="form-group">
        <b>Количество групп: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.kolvoGrupp)
        </div>
    </div>
    <br />

    <div class="form-group">
        <b>Количество студент: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.kolvoStudent)
        </div>
    </div>
    <br />

    <div class="form-group">
        <b>Лекции: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.lekcii)
        </div>
    </div>
    <br />
    
    <div class="form-group">
        <b>Практика план: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.praktikaPlan)
        </div>
    </div>
    <br />

      <div class="form-group">
        <b>Практика всего: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.praktikaVsego)
        </div>
    </div>
    <br />  

     <div class="form-group">
        <b>Лабораторные план: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.labPlan)
        </div>
    </div>
    <br />  
        
    <div class="form-group">
        <b>Лабораторные всего: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.labVsego)
        </div>
    </div>
    <br />  
        
    <div class="form-group">
        <b>Консультации тек.: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.konsultTek)
        </div>
    </div>
    <br />  
        
    <div class="form-group">
        <b>Консультации пр. экз: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.konsultEkz)
        </div>
    </div>
    <br />  
    <div class="form-group">
        <b>Экзамен: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.exzamen)
        </div>
    </div>
    <br />     
        
    <div class="form-group">
        <b>Зачет: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.zachet)
        </div>
    </div>
    <br />  
        
    <div class="form-group">
        <b>Рук-во практ.: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.rykvoPract)
        </div>
    </div>
    <br />  
      
    <div class="form-group">
        <b>Рук-во ДЖП. ПР.: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.rykvoDJPpr)
        </div>
    </div>
    <br />  
       
    <div class="form-group">
        <b>Часы на ОргСРС: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.chasSRS)
        </div>
    </div>
    <br /> 
       
    <div class="form-group">
        <b>Часы за рейт.: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.chasReit)
        </div>
    </div>
    <br /> 

    <div class="form-group">
        <b>Рук-во аспир.: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.rykvoAspirant)
        </div>
    </div>
    <br />

    <div class="form-group">
        <b>Всего: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.vsego)
        </div>
    </div>
    <br />

    <div class="form-group">
        <b>Ассистенты: </b>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.assistent)
        </div>
    </div>
    <br />
</div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.FIOUserID)
        @Html.HiddenFor(model => model.Id)
        
        <div class="form-actions no-color">
            <button onclick="location.href='@Url.Action("Index", "Main")'" type="button" class="btn btn-primary">Вернуться</button>
            <button onclick="location.href='@Url.Action("Downloads", "UploadF", new { id=Model.predmetId })'" type="button" class="btn btn-warning">Файлы</button>
            @if (string.Equals(@ViewBag.UserRole, "Administrator"))
            {
                <button onclick="location.href='@Url.Action("EditRecord", "Main", new { id=Model.Id })'" type="button" class="btn btn-info">Редактировать</button>
                <button onclick="location.href='@Url.Action("Remove", "Main", new { id=Model.Id })'" type="button" class="btn btn-danger">Удалить</button>
            }
        </div>
    }
</div>