@model EducationSearching.PredmetDB

@{
    ViewBag.Title = "Создать";
}
<article>

<h2>Создать</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PredmetDB</legend>

        <div class="editor-label">
            Дисциплина
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Disciplina)
            @Html.ValidationMessageFor(model => model.Disciplina)
        </div>

        <p>
            <input type="submit" value="Создать" class="btn btn-success"/>
        </p>
    </fieldset>
}
    <div>
        <button onclick="location.href='@Url.Action("Index_Predmet", "AdminPanel")'" type="button" class="btn btn-primary">Назад к списку</button>
    </div>
</article>

<aside>
    <h3>Панель управления</h3>
    <p>

    </p>
    <ul>
        <li>@Html.ActionLink("Пользователи", "Index_Users", "AdminPanel")</li>
        <li>@Html.ActionLink("Предметы", "Index_Predmet", "AdminPanel")</li>
        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
    </ul>
</aside>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
