@model EducationSearching.PredmetDB

@{
    ViewBag.Title = "Подробнее";
}

<article>

    <h2>Подробнее</h2>

    <fieldset>
        <legend>PredmetDB</legend>

        <div class="display-label">
            <br />
           Дисциплина:
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Disciplina)
        </div>
    </fieldset>
    <p>
        <button onclick="location.href='@Url.Action("Edit_Predmet", "AdminPanel", new { id = Model.Id })'" type="button" class="btn btn-info btn-primary">Редактировать</button> |
        <button onclick="location.href='@Url.Action("Index_Predmet", "AdminPanel")'" type="button" class="btn btn-primary">Назад к списку</button>
    </p>
    </article>

        <aside>
            <h3>Панель управления</h3>
            <p>

            </p>
            <ul>
                <li>@Html.ActionLink("Предметы", "Index_Predmet", "AdminPanel")</li>
                <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
            </ul>
        </aside>
