@model IEnumerable<EducationSearching.PredmetDB>
<article>
    <p>
        @Html.ActionLink("Создать", "Create_Predmet")
    </p>
    <table>
        <tr>
            <th>
                Дисциплина
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit_Predmet", new { id = item.Id }) |
                @Html.ActionLink("Просмотр", "Details_Predmet", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete_Predmet", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
</article>

    <aside>
        <h3>Панель управления</h3>
        <p>

        </p>
        <ul>
            <li>@Html.ActionLink("Предметы", "Index_Predmet", "AdminPanel")</li>
            <li>@Html.ActionLink("Скачать файлы", "Downloads", "UploadF")</li>
            <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
        </ul>
    </aside>

