@model IEnumerable<EducationSearching.PredmetDB>
<article>
    <p>
        <button onclick="location.href='@Url.Action("Create_Predmet", "AdminPanel")'" type="button" class="btn btn-success">Создать</button>
    </p>
    <table class="table table-hover table-striped">
        <tr>
            <th>
                Дисциплина
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disciplina)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("Edit_Predmet", "AdminPanel", new { id=item.Id })'" type="button" class="btn btn-info btn-block btn-small">Редактировать</button>
                <button onclick="location.href='@Url.Action("Details_Predmet", "AdminPanel", new { id=item.Id })'" type="button" class="btn btn-primary btn-block btn-small">Просмотр</button>
                <button onclick="location.href='@Url.Action("Delete_Predmet", "AdminPanel", new { id=item.Id })'" type="button" class="btn btn-danger btn-block btn-small">Удалить</button>
            </td>
        </tr>
        }

    </table>
</article>

    <aside>
        <h3>Панель управления</h3>
        <p>

        </p>
        <ul>
            <li>@Html.ActionLink("Предметы", "Index_Predmet", "AdminPanel")</li>
            <li>@Html.ActionLink("Добавить план", "AddPredmet", "Main")</li>
            <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
        </ul>
    </aside>

